{{#if snippets}}
<div class="row">
    {{#each snippets}}
    <div class="show">
        <h4>{{this.title}}</h4>
        <pre><code>{{this.snippet}}</code></pre>
        <form class="delete-button" action="/delete/{{this.id}}" method="post">
            <a class="btn btn-primary" href="/update/{{this.id}}">Update</a>
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <span>Created by: {{this.username}}</span>
        <br>
        <span>Posted: {{this.posted}}</span>
        <br>
        <span>Id: {{this.id}}</span>
    </div>
    {{/each}}
</div>
{{/if}}
